
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <h2>Consulta</h2>
        <br />
        <form action="/Inventario/Consulta" method="post" class="form-inline">
            <input type="text" name="localidade" value="" />
            <button class="btn btn-default">Enviar</button>

        </form>
    </div>
</div>

