@{
    ViewBag.Title = "Sobre";
}
<div class="row justify-content-center">
    <h2>@ViewBag.Title</h2>
</div>

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-@TempData["msg_type"] text-center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["msg"]
        </div>
    }

}

<div class="row justify-content-center text-center" >
    <div class="col-10">
        Projeto desenvolvido na disciplina Desenvolviento para a Web 2,
        do curso de Análise e Desenvolvimento de Sistemas do Campus de Piracicaba do IFSP.
        <br />Projeto aplicado à Coordenadoria de Apoio ao Ensino (CAE) para auxiliar na gestão do inventário.
    </div>

</div>
