
@{
    ViewBag.Title = "ActionsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Menu Principal</h2>
        <br />
        <button class="btn btn-default">Consultar Inventário</button>
        <button class="btn btn-default">Consolidar Inventário Ano</button>
        <button class="btn btn-default">Cadastros</button>
        <button class="btn btn-default">Relatórios</button>
        <button class="btn btn-default">Usuários</button>

    </div>

</div>



