@{
    ViewBag.Title = "Gerenciamento de usuários";
}


<h2>@ViewBag.Title</h2>

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-@TempData["msg_type"]">@TempData["msg"]</div>
    }

}

@Html.ActionLink("Lista de usuários", "List", "Usuario")<br />
@Html.ActionLink("Cadastro de usuários", "Create", "Usuario")