
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Login</h2>
        <br />
        <form action="/EnviaLogin" method="post">
            <label for="username">Nome de usuário</label>
            <input type="type" name="username" value="" placeholder="Nome de usuário" class="form-control"/>
            <label for="password">Senha</label>
            <input type="password" name="password" value="" placeholder="Senha" class="form-control"/>
            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-default" type="reset">Limpar</button>
        </form>
    </div>
</div>

